$font-primary: 'Open Sans', serif;
$font-secondary: 'Prata', serif;
$fig:   #4C3F54;
$apple: #D13525;
$cheese:#f2c057;
$basil: #486824;

$small-screen: 300px;
$medium-screen: 700px;
$large-screen: 1100px;
